<div class="page-container">
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- Breadcrumb Start -->
            <div class="row">
                <!-- POST -->
                <!--  Post -->
                <div class="col-xl-8 col-md-12 ">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            {{#if post}}
                                <div class="card mt-1 luan-card" data-id="{{post._id}}" id="luan-card">
                                    <div class="card-header pb-0 d-flex">
                                        <img class="avatar" src="/{{post.userAvatar}}" alt="">
                                        <div class="pl-2 d-flex flex-column">
                                            <p class="avatar-name"> {{post.userName}}</h5>
                                            <p class="p-0 post-date">{{post.createAt}}</p>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 pb-0">
                                        <blockquote class="blockquote mb-0 ">
                                            <p>{{post.caption}}</p>
                                            
                                            {{#if (not post.image '')}}
                                                <div class="row">`
                                                    <div class="col-sm-2 col-xs-2"></div>
                                                    <div class="col-sm-8 col-xs-8 p-0"> 
                                                        <div class="card-body p-1"> 
                                                            <img class="luan-post-img" height="400px" src="/{{post.image}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/if}}
                                            {{#if (not post.video '')}}
                                                <div class="row">`
                                                    <div class="col-sm-2 col-xs-2"></div>
                                                    <div class="col-sm-8 col-xs-8 p-0"> 
                                                        <div class="card-body p-1"> 
                                                            <iframe class="luan-post-video" src="https://www.youtube.com/embed/{{post.video}}" frameborder="0" allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/if}}
                                        </blockquote>
                                    </div>
                                    <div class="card-body pt-2 text-muted">
                                        <div class="d-flex ">
                                            <div class="like-count"><i class="far fa-thumbs-up"></i> </div>
                                            <div class="ml-auto text-right" id="comment-count-{{post._id}}"></div>
                                        </div>
                                    </div>
                                    <hr class="mt-0 mb-1 ">
                                    <div class="d-flex post-react justify-content-around ">
                                        <button class="btn btn-light col-md-4"> <i class="far fa-thumbs-up"></i> Like </button>
                                        <button  data-toggle="collapse" data-target="#luan{{post._id}}"  class="btn btn-light col-md-4"><i class="far fa-comment-alt"></i> Comment </button>
                                        <button class="btn btn-light col-md-4"><i class="far fa-share-square"></i> Share </button>
                                    </div>
                                </div>
                                <div class="collapse" id="luan{{post._id}}">
                                    <div class="card card-body mb-0" >
                                        <div class="pl-2 d-flex luan-comment">
                                            <img class="avatar-comment mt-1 mr-2" src="/{{user.avatar}}" alt="">
                                            <input type="text" name="comment" id="cmt{{post._id}}"  class="form-control rounded  col-lg-11 col-md-10 col-sm-8 mt-1" placeholder="Viết bình luận ...">
                                            `<button type="button" id="luan-btn" data-user="{{user._id}}" data-id="{{post._id}}" onclick="sendComment(this)" class="btn btn-light"><i class="far fa-paper-plane"></i></button>
                                        </div>
                                        <div class="" id="luannt{{post._id}}">
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                            {{#if message}}
                                <h3>{{message}}</h3>
                            {{/if}}
                            
                        </div>
                    </div>
                
                </div>  
            </div>  
        </div>
    </div>
</div>  

<div class="modal fade" id="delete-comment">
    <div class="modal-dialog">
        <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title">Xóa bình luân</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <!-- Modal body -->
            <div class="modal-body">
                Bạn có chắc mình muốn xóa bình luận này?
            </div>
        
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" id="btn-delete-cmt" class="btn btn-danger">Xóa bỏ</button>
            </div>
        
        </div>
    </div>
</div>

<script>
    var deleteID
    let userId = $('#luan-btn').data('user'); 
    $(document).ready(function()  {
        let postID = $('#luan-card').data('id');
        getComment(postID);
        $('#delete-comment').on('show.bs.modal', function (e) {
            var span = $(e.relatedTarget) ;
            deleteID = span.data('id');
            console.log(deleteID)
        });

        $('#btn-delete-cmt').click(()=> {
            deleteComment(deleteID, postID)
        });
    })

    function sendComment(btn) {
        let id = btn.getAttribute('data-id');
        let content = document.getElementById('cmt'+id);
        let idUser = btn.getAttribute('data-user');

        if (content.value === '') {
            alert('Bạn chưa bình luận điều gì!');
        }
        else  {
            const URL = `/comment/api`;

            let data = {
                content: content.value,
                postID: id,
                userID: idUser
            };

            $.ajax({
                url: URL,
                method: "POST",
                data: data,
                contentType: "application/x-www-form-urlencoded",
                dataType: 'json',
                success: function (cmt) {
                    alert(cmt.message);
                    content.value = '';
                    $("#luannt"+id).empty();
                    getComment(id);
                }
                , error: function (err) {
                    console.log(err);
                }
            });
        }
    }

    function getComment(postID) {
        const URL = `/comment/api/${postID}`;
        $.ajax({
            url: URL,
            method: "GET",
            dataType: "json",
            success: function (data) {
                $(`#comment-count-${postID}`).html(''+data.length+' comments');
                renderComment(data, postID);
            }
        })
    }

    function renderComment(comments, id) {
        let html ='';
         $.each(comments, function(index, comment) {
            html +=`<div class="pl-2 d-flex flex-row  align-items-start mt-2 luan-custom-comment">`
                html +=`<img class="avatar-comment mt-2 " src="/${comment.userAvatar}" >`
                html +=`<div style=" display: inline-block; background-color : #e6e7eb" class="rounded p-2 pr-3 ml-2  mt-2"  > `
                    html +=`<span class="font-weight-bold" >${comment.userName}</span> <span class="float-right post-date ml-4">${moment(comment.createAt).fromNow()}</span>`
                    html +=`<div >`
                        html+= `${comment.content}`
                    html+= `</div>`
                html +=`</div>`
                if (comment.userID === userId) {
                    html +=`<div class="comment-wrap">`
                        html +=`<i class="fas fa-ellipsis-h"></i>`
                        html += `<span class="comment-option-item" data-id="${comment._id}" data-post="${comment.postID}" data-toggle="modal" data-target="#delete-comment"">Xóa</span>`
                    html += `</div>`
                }
            html +=`</div>`
         });
        $("#luannt"+id).append(html);
    }

    function deleteComment(id,post) {
        const URL = `/comment/${id}`;
        $.ajax({
            url: URL,
            method: "DELETE",
            dataType: "json",
            success: function (data) {
                alert(data.message);
                $('#delete-comment').modal('hide');
                $("#luannt"+post).empty();
                getComment(post);
            }
        })
    }
</script>