<div class="page-container">
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="container-fluid">
            <!-- Breadcrumb Start -->
                   <form  class="row search-notify-form">
                       <input class="form-control col-3 mr-2" placeholder="Tìm kiếm theo thông báo" > 
                        <input class="form-control col-5  mr-2" placeholder="Tìm kiếm theo nội dung thông báo"> 
                         <select class="form-control col-3 p-0 pl-2 checkbox-select-all-options" name="thematic" required>
                                <option value="all">-- Tất cả các mục --</option>
                                <option value="cthssv">-- Phòng CTHSSV --</option>
                                <option value="daihoc">-- Phòng Đại học --</option>
                                <option value="saudaihoc">-- Phòng Sau đại học --</option>
                                <option value="dientoanvamaytinh">-- Phòng Điện toán và máy tính--</option>
                                <option value="khaothikiemdinh">-- Phòng Khảo thí và kiểm định chất lượng --</option>
                                <option value="taichinh">-- Phòng tài chính --</option>
                                <option value="CLC">-- TDT Creative Language Center --</option>
                                <option value="tinhoc">-- Trung tâm tin học --</option>
                                <option value="phattrienxahoi">-- Trung tâm đào tạo phát triển xã hội (SDTC) --</option>
                                <option value="quanlyungdungcongnghe">-- Trung tâm phát triển Khoa học quản lý và Ứng dụng công nghệ (ATEM) --</option>
                                <option value="doanhnghiepcuusinhvien">-- Trung tâm hợp tác doanh nghiệp và cựu sinh viên --</option>
                                <option value="luat">-- Khoa luật --</option>
                                <option value="ngoaingutinhoc">-- Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa --</option>
                                <option value="chinhsachkinhte">-- Viện chính sách kinh tế và kinh doanh --</option>
                                <option value="mtcn">-- Khoa Mỹ thuật công nghiệp --</option>
                                <option value="ddt">-- Khoa Điện – Điện tử --</option>
                                <option value="cntt">-- Khoa Công nghệ thông tin --</option>
                                <option value="qtkd">-- Khoa Quản trị kinh doanh --</option>
                                <option value="mtbvld">-- Khoa Quản trị kinh doanh  --</option>
                                <option value="ldcd">-- Khoa Lao động công đoàn --</option>
                                <option value="tcnh">-- Khoa Tài chính ngân hàng --</option>
                                <option value="gdqt">-- Khoa giáo dục quốc tế --</option>
                            </select>
                        <div class="mt-2 d-flex flex-row">
                        <select class="form-control col-xl-6 col-md-4 col-5 p-0 pl-2 checkbox-select-all-options mr-2"  required>
                            <option value="">-- Chọn thể loại --</option>
                            <option value="">-- Tin tức cũ --</option>
                            <option value="">-- Tất cả --</option>
                            <option value="">--Bảo hiểm y tế --</option>
                            <option value="">-- Học vụ --</option>
                            <option value="">-- Lịch thi - Danh sách thi --</option>
                            <option value="">-- Học phí --</option>
                            <option value="">-- Phúc khảo --</option>
                            
                        </select>
                        <input type="date"  class="form-control mr-2 col-xl-5 col-md-2 col-2">
                        <input type="date"  class="form-control col-xl-5 col-md-2 mr-2 col-2"> 

                        <button class="btn btn-danger col-xl-2 col-md-2  ml-1"> Xóa</button>
                        <button class="btn btn-info col-xl-2 col-md-2 ml-1 "> Tìm kiếm</button>
                        </div>
            </form>

            <div class="row">
                {{#each notices}}
                    <div class="col-md-12 p-20  mt-2 notify-block-blue d-flex flex-column luan-div">
                            <span class="notify-title">{{this.userName}}</span>
                            <span class="notify-desc-blue luan-notice">{{this.hint}}</span>
                            <div class="d-flex flex-row">
                                <a class="notify-link" href="/post/detail/{{this.postID}}">Chi tiết thông báo</a>
                                <span class="ml-auto">Ngày đăng   {{this.createAt}}</span>
                            </div>
                    </div>
                    {{else}}
                    <divclass="text-center">
                        Chưa có thông báo nào!
                    </divclass=>
                {{/each}}
              
               
            </div>
            <!-- Breadcrumb End -->
        </div>


    </div>
    <!-- Content Wrapper END -->

    <!-- Footer START -->
    

</div>


